.container {
    width: 100%;
    height: 400px;
    background-color: #eee2dc;
    position: absolute;
    top: 1800px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container .footerMain {
    position: absolute;
    left: 100px;
    display: block;
    width: 150px;
    word-wrap: break-word;
}

.container .courses {
    position: absolute;
    right: 1000px;
}

.container .menu {
    position: absolute;
    right: 500px;
}

.container .about {
    position: absolute;
    right: 0;
}



/*-----------------------------------------------------------------
                              Media Quaries 
 -------------------------------------------------------------------*/


/*---------------------------
  Mobile devices 
  -------------------------*/

@media only screen and (max-width:688px) {
    .container {
        top: 2700px;
        height: 300px;
    }

    .container .footerMain {
        font-size: 10px;
        left: 20px;
    }

    .container .courses {
        font-size: 10px;
        right: 120px;
    }

    .container .menu {
        font-size: 10px;
        right: 250px;
    }

    .container .about {
        font-size: 10px;
    }


}





/*----------------------
 Tablet device 
 ---------------------*/


@media only screen and (min-width:688px) and (max-width:992px) {
    .container .footerMain {
        font-size: 13px;
    }

    .container .courses {
        font-size: 13px;
        right: 100px;
    }

    .container .menu {
        font-size: 13px;
        right: 200px;
    }

    .container .about {
        font-size: 13px;
    }

}