.container {
    width: 100%;
    height: 200px;
    background: rgba(155, 155, 155, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
}

/* .container .stat1 {
    position: absolute;
    left: 0;
}

.container .stat2 {
    position: static;
    left: 0;
}

.container .stat3 {
    position: static;
    left: 0;
} */

.container .stat1 .fa {
    font-size: 50px;

}

.container .stat2 .fa {
    font-size: 50px;

}

.container .stat3 .fa {
    font-size: 50px;

}